body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, .font-display-lg, .font-headline-lg, .font-headline-md {
  font-family: 'Montserrat', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Brutalist shadow utility for High-Contrast Modernism */
.shadow-brutal {
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}

.shadow-brutal-sm {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}
